# See https://help.github.com/articles/ignoring-files for more about ignoring files.
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/config/master.key

# Ignore other unneeded files.
/node_modules
/yarn-error.log
/coverage/
/spec/examples.txt
/public/assets
/public/packs
/public/packs-test
/storage/
/byebug_history
.byebug_history
.dockerignore
.rdebug_history
.rspec
.simplecov
.spring
.idea/
.ruby-version
*.rbc
*.sassc
.cache/
.coverage
.zeus.sock
nix/store/
.build-id
.idea/
.serverpid
.pid
.rake_tasks~
.bundle/
/tmp/
/log/
/coverage/
/spec/tmp/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/public/assets/
/public/packs/
.byebug_history
/tmp/pids/
/tmp/cache/
/tmp/sockets/
*.swp
.DS_Store
*~
**.orig
*.rej
*.o
*.so
*.h
*.bin
*.app
*.prc
*.pid
*.pid.lock
*.lo
*.la
*.log
*.log.*
*.crt
*.pem
*.key
*.old
*.bak
*.moved
*.over
*.rej
*.index
*.keystore
.byebug_history
/public/system/
/public/uploads
